html{
    font-size:10px;
    line-height:10px;
  }
  body{
    margin:0px;
    padding:0px;
    overflow-x: hidden;
    width:100vw;
    height: auto;
  }

  .footer{
    height:auto;
    width:100vw;
    font-size:24px;
    display:flex;
    background-color:#114454;/*#001B4E,#4D3F49,*/
    flex-direction:row;
    padding-bottom: 20px;
    /*margin-right: -20px;*/
  }
  
  .with-icon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .with-icon div{
    margin-left:100px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
  
  .with-icon p,.with-icon i{
    color: white;
  }
  
  .footer_title1 {
    margin-bottom: -30px;
    color: white;
  }
  
  .footer_title1_first {
    font-size: 36px;
  }
  
  .footer_title1_last{
  font-size: 28px;
  }
  
  .footer hr{
    background-color: white;
    height:2px;
    width:70px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 135px;
    margin-bottom: 0px;
  }
  
  .footer_content1{
    padding-left:50px;
  }
  

/*以下為平板大小*/
@media screen and (max-width:1400px){
  .footer{
    height:auto;
    display:flex;
    flex-direction:column;
  }
  
  .footer>i{
    flex:1;
  }
}



/*以下為手機大小*/
@media screen and (max-width:700px){

.footer{
    padding-left: -70px;
    position: relative;
  }
  
  .footer_title1 {
   position:absolute;
   left:-70px;
    margin-bottom: -30px;
    color: white;
  }
  
  .footer hr{
    position:absolute;
    top:50px;
    left:-40px;
    background-color: white;
    height:2px;
    width:70px;
    border-radius: 5px;
    border: 1px solid white;
    margin-left: 95px;
    margin-bottom: 0px;
  }
  
  .footer_content1{
    font-size: 18px;
    padding-left:0px;
    margin-left: -100px;
  }

  .with-icon :nth-child(3){
    margin-top: 70px;
  }

}